%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'All Posts', loged_path
        %br
        %br
        = link_to 'Logout', logout_path
        %br
        %br
        %hr
        %h3
          Write your comment to this post:
        = form_tag "/newcom", :remote => true do
          Comment:
          %br
          = text_area_tag :text, params[:text], :cols => "40",:rows => "10"
          %br
          = submit_tag "Write"
        %hr
    %td.a{:width => "50%"}
      %table.posts
        %tr
          %td
            %h2
              Post
        %tr
          %td
            %i
              Time:
              = @post.updated_at
        %tr
          %td
            %i
              Author:
            - a= @post.user.user_email if @post.user
            = a
        %tr
          %td
            %i
              Title:
            =@post.title

        %tr
          %td= @post.text

        %tr
          %td
            %hr
            %hr
        %tr
          %td
            %h3
              Comments to the post


      #all_comments
        = render :partial => "comment"


    %td{:width => "25%"}
      %p.font
        All users:
      %table
        - @users.each do |user|
          %tr
            %td= link_to user.user_email, frpage_path(user.user_email)
      %p.font
        Your Friends:
      %table
        - @user.friends.each do |fr|
          %tr
            %td
              -f = User.find(fr.friend_id).user_email
              = link_to f, frpage_path(f)
