%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font

        = link_to 'All Posts', loged_path
        %br
        %br
        = link_to 'Logout', logout_path
    %td.a{:width => "50%"}
      %p.font
        Ваш комментарий:
      = form_tag "/newcom" do

        Комментарий:
        %br
        = text_area_tag :text, params[:text], :cols => "35",:rows => "10"
        %br
        = submit_tag("Написать")

      %td{:width => "25%"}



