%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
    %td.a{:valign => "top", :width => "50%"}
      %p.font
        Введите данные для входа:
      = form_tag "/" do
        E-mail:
        = text_field_tag :user_email, params[:user_email]
        Пароль:
        = password_field_tag :pass, params[:pass]
        %br
        = submit_tag("Войти")
        %br
      %p.font
        = link_to 'List of Users', users_path
      %td{:width => "25%"}
