%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'Registration', reg_path
    %td.a{:width => "50%"}
      %p.font
        Введите данные для входа:
      = form_tag "/" do
        E-mail:
        = text_field_tag :user_email, params[:user_email]
        Пароль:
        = password_field_tag :pass, params[:pass]
        %br
        = submit_tag("Войти")

      %td{:width => "25%"}


