%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'Back', :back
        %br
        %br
        = link_to 'All Posts', loged_path
        %br
        %br
        = link_to 'Logout', logout_path
    %td.a{:width => "50%"}
      %b
        Hello,
      = @current_user
      %br

        %h2
          User:
          = @friend_user

      -lnk =  "#{@add_delete} Friends"
      %b
        = link_to lnk, friend_path(@friend_user)
      %br
      %br
      %b
        = link_to "Show all posts of this user", friends_posts_path(@friend_user)


    %td{:width => "25%"}
      %p.font
        Your Friends:
      %table
        - @user.friends.each do |fr|
          %tr
            %td
              -f = User.find(fr.friend_id).user_email
              = link_to f, frpage_path(f)

