%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'New Post', newpost_path
        %br
        %br
        = link_to 'Logout', logout_path
    %td.a{:width => "50%"}
      %b
        Hello,
      = @current_user

      %p.font
        All posts:
      %table.posts
        - @posts.each do |post|
          %tr
            %td
              %i
                Time:
              = post.updated_at
          %tr
            %td
              %i
                Author:
              - a= post.user.user_email if post.user
              = a
          %tr
            %td
              %i
                Title:
              = post.title

          %tr
            %td= post.text
          %tr
            %td
              -ans = post.comments.count
              -lnk =  "Comments: #{ans}"
              = link_to lnk, comments_path(post)

          %tr
            %td
              %hr

    %td{:width => "25%"}
      %p.font
        All users:
      %table
        - @users.each do |user|
          %tr
            %td= link_to user.user_email, friend_path(user.user_email)
      %p.font
        Your Friends:
      %table
        - @user.friends.each do |fr|
          %tr
            %td
              -f = User.find(fr.friend_id).user_email
              = link_to f, friend_path(f)