%table.sam
  %tr{:height => "90%"}
    %td{:width => "25%"}
      %p.font
        = link_to 'New Post', newpost_path
        %br
        %br
        = link_to 'Logout', logout_path
    %td.a{:width => "50%"}
      %b
        Hello,
      = @current_user

      %p.font
        All posts:
      %table.posts
        - @posts.each do |post|
          %tr
            %td
              %i
                Написано:
              = post.updated_at
          %tr
            %td
              %i
                Автор:
              - a= post.user.user_email if post.user
              = a
          %tr
            %td
              %i
                Тема:
              = post.title

          %tr
            %td= post.text
          %tr
            %td
              -ans = post.comments.count
              -lnk =  "Ответов: #{ans}"
              = link_to lnk, comments_path(post)

          %tr
            %td
              %hr

    %td{:width => "25%"}
      %p.font
        All users:
      %table
        - @users.each do |user|
          %tr
            %td= link_to user.user_email
